.bodyclass{
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
	height: 100vh;
}

.register-container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.register-sec{
    width: 70%;
    height: 200vh;
}



.title-sec{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 26%;
}


.register-title{
    cursor: pointer;
    font-size: 3em;
    width: 180px; /* Adjust the width of the underline */
    border-bottom: 3px solid red; /* Specify the thickness and color of the underline */
    margin-top: 5px; 
}




body{
    margin: 0;
    padding: 0;
}

.register-container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.register-sec{
    width: 70%;
    height: 200vh;
}


.img-sec {
    width: 80%;
    height: 200vh;
    overflow: hidden; /* Hide overflow */
    background-image: url('../../assets/bagg.png');
    transform: translate(-24%, -15%) rotate(20deg); /* Translate back to center and rotate */
    background-size: contain;
}

.img-sec img{
    width: 60%;
    height: 20%;
    transform: translate(40%, 130%) rotate(340deg)
}


.title-sec{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 26%;
}


.register-title{
    cursor: pointer;
    font-size: 3em;
    width: 180px; /* Adjust the width of the underline */
    border-bottom: 3px solid red; /* Specify the thickness and color of the underline */
    margin-top: 5px; 
}




.form-container{
    margin-top: 100px;   
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}


.form-container form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    justify-content: space-around;
}

form input{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 10px 30px;
}

.regg-btn{
    padding: 10px 40px;
    outline: none;
    border: 2px solid black;
    background: none;
    color: black;
    transition: 0.5s;
    margin-top: 30px;
    margin-left: 195px;
  }
  
  .regg-btn:hover{
    border: 2px solid rgb(191, 44, 44);
    padding: 10px 50px;
  }


.input-data{
	height: 10px;
	width: 100%;
	position: relative;
	left: 0;
}

.input-data input{
	height: 90%;
	width: 100%;
	border: none;
	border-bottom: 2px solid silver;
	font-size: 17px;
	transition: all 0.3s ease-in-out;

}


.reg-btn{
    margin-left: -20%;
}

.input-data label{
	position: absolute;
	bottom: -15px;
	left: 0;
	color: gray;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

.input-data{
    margin-bottom: 50px;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
	transform: translateY(-20px);
	font-size: 15px;
	color: rgb(8, 92, 32);
}


.input-data input:focus ,
.input-data input:valid {
	border-bottom: 2px solid rgb(17, 17, 92) ;
}




@media screen and (min-width:2282px) {
	

	.form-container{
		margin-top: 200px; 
		padding-left: 200px;  
		width: 60%;
		align-items: center;
		display: flex;
		text-align: left;
		transform: translateX(-15%);
		margin-left: 150px;
	}


	form input{
		padding: 20px 40px;
	}

	.input-data label{
		bottom: -25px;
		left: 10;

	}

	.input-data input:focus ~ label,
	.input-data input:valid ~ label{
	transform: translateY(-35px);
}


.register-title{
    cursor: pointer;
    font-size: 7em;
    width: 500px; /* Adjust the width of the underline */
    border-bottom: 3px solid red; /* Specify the thickness and color of the underline */
    margin-top: 5px; 
}

.img-sec {
    height: 200vh;
}

.img-sec img{
	width: 48%;
    height: 15%;
	margin-top: 20%;
	margin-left: 14%;
}

	
}


@media screen and (max-width:1237px){
	.img-sec {
		width: 80%;
		height: 200vh;
		overflow: hidden; /* Hide overflow */
		transform: translate(-32%, -15%) rotate(20deg); /* Translate back to center and rotate */
		background-size: contain;
	}
	
	.img-sec img{
		width: 60%;
		height: 13%;
		margin-top: 30%;

	}
}


@media screen and (max-width:1236px){
	.bodyclass{
		height: 100vh;
	}

	.register-container{
		flex-direction: column;
	}
	
	.img-sec {
		width: 100%;
		height: 100%;
		overflow: hidden; /* Hide overflow */
		transform: rotate(0); /* Translate back to center and rotate */
		background-size: contain;
		position: absolute;
	}
	
	.img-sec img{
		display: none;
	}

	.register-sec{
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}


	.form-container form input{
		background: none;
	}

	.form-container{
		margin-top: 100px;   
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto; /* Center horizontally */
	}
	

	.reg-btn{
		margin-left: -20%;
	}
	
	
	.regg-btn{
		padding: 10px 40px;
		outline: none;
		border: 2px solid white;
		background: none;
		color: white;
	  }


	  .input-data input{
		height: 90%;
		width: 100%;
		border: none;
		border-bottom: 2px solid black;
		font-size: 17px;
		transition: all 0.3s ease-in-out;
	
	}
	.register-title{
		border-bottom: 3px solid white; /* Specify the thickness and color of the underline */
	}
	
	
	
	.input-data label{
		position: absolute;
		bottom: -15px;
		left: 0;
		color: white;
		pointer-events: none;
		transition: all 0.3s ease-in-out;
	}
	
	
	.input-data input:focus ~ label,
	.input-data input:valid ~ label{
		transform: translateY(-20px);
		font-size: 15px;
		color: rgb(11, 7, 73);
	}
	
	
	.input-data input:focus ,
	.input-data input:valid {
		border-bottom: 2px solid rgb(17, 17, 92) ;
		color: white;
	}
	
	
	
}



@media screen and (max-width:305px){
	
	.reg-btn{
		margin-left: -60%;
	}
}
